/**
 * Field Component Style for tingle
 * @auther gnosaij
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */
 @require '../node_modules/tingle-style/src/var'
 
.tField
    padding 0 rem(40)
    min-height rem(88)
    font-size rem(28)
    
.tFieldLabel
    margin-right rem(30)
    padding rem(30) 0
    width rem(120)
    color #424242
    
    .tField.loose &
        width auto
        max-width 50%
        
    .tField.vertical &
        width auto
        padding rem(8) 0
        
.tFieldBox
    padding-right rem(40)