/**
 * Field Component Style for tingle
 * @author gnosaij
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */
@require '../node_modules/tingle-style/src/var'

.tField
  min-height 44px
  font-size 14px

.tFieldBox
  padding-right 15px

.tFieldLabel
  padding 15px 0
  width 100px
  color #757575

  .tField.loose &
    width auto
    max-width 50%

  .tField.vertical &
    width auto
    padding 4px 0