/**
 * Field Component Style for tingle
 * @author gnosaij
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */
 @require '../node_modules/tingle-style/src/var'

.tField
    min-height rem(88)
    font-size rem(28)

.tFieldLabel
    padding rem(30) 0
    width rem(200)
    color #757575

    .tField.loose &
        width auto
        max-width 50%

    .tField.vertical &
        width auto
        padding rem(8) 0